.game {
  width: 108px;
  margin-left: 15px;
  background-color: skyblue;
  color: var(--gray500);
  line-height: 16px;
}

.game_type {
  margin-top: 25px;
  margin-left: 15px;
  background-color: skyblue;
  font-weight: bold;
  color: var(--red600);
}

.game_result {
  margin-top: 15px;
  margin-left: 15px;
}
