.DrawList {
  background-color: azure;
  width: 726px;
  margin: 0 auto;
  margin-top: 10px;
  small {
    text-align: center;
    display: block;
  }
  li {
    list-style: none;
    margin-top: 10px;
  }
  .lose {
    display: flex;
    width: 720px;
    height: 96px;
    margin: 0 auto;
    background-color: #fff1f3;
    border-left: 6px solid;
    border-color: #e84057;
  }

  .win {
    display: flex;
    width: 720px;
    height: 96px;
    margin: 0 auto;
    background-color: #ecf2ff;
    border-left: 6px solid;
    border-color: #5383e8;
  }

  .GameInfo {
    width: 108px;
    margin-left: 25px;
    div {
      padding-top: 5px;
      height: 50%;
      text-align: center;
      font-size: 12px;
    }
  }

  .ChampInfoContainer {
    margin-left: 10px;
    margin-top: 0px;
    width: 350px;
    display: block;
  }
}
